Options +FollowSymLinks -MultiViews

<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

RewriteEngine On

ErrorDocument 404 /404.html
RewriteRule ^404(/)?$ 404.html

RewriteRule ^(/)?$ index.php
RewriteRule ^home(/)?$ index.php
RewriteRule ^main(/)?$ index.php
RewriteRule ^root(/)?$ index.php
RewriteRule ^index(/)?$ index.php

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www.mghenschel.com.br [NC]
RewriteRule (.*) https://mghenschel.com.br/$1 [L,R=301]

<IfModule mod_deflate.c>
    SetOutputFilter DEFLATE
    AddOutputFilterByType DEFLATE application/x-httpd-php text/html text/xml text/plain text/css text/javascript application/javascript application/x-javascript image/jpeg image/jpg image/png image/gif font/ttf font/eot font/otf
</IfModule>